<div class="calendar">
    <div class="calendar-nav">       
        <div class="calendar-nav-previous-month">
            <button class="button is-text" (click)="changeNavMonth(-1)" [disabled]="!canChangeNavMonth(-1)">
                <span class="icon-circle-left"></span>
            </button>
        </div>
        <div>{{navDate.format('MMMM YYYY')|titlecase}}</div>
        <div class="calendar-nav-next-month">
            <button class="button is-text" (click)="changeNavMonth(1)" [disabled]="!canChangeNavMonth(1)">
                <span class="icon-circle-right"></span>
            </button>
        </div>
    </div>


    <div class="calendar-container">
        <div class="calendar-header">
            <div class="calendar-date" *ngFor="let day of weekDaysHeaderArr">
                {{day|titlecase|slice:0:3 }}
            </div>
        </div>


        <div class="calendar-body">
            <div *ngFor="let day of gridArr" class="calendar-date" [class.is-disabled]="!day.available" [class.is-active]="day.isRangeStart || day.isRangeEnd" [class.calendar-range-start]="day.isRangeStart && range[1]" [class.calendar-range-end]="day.isRangeEnd"
                [class.calendar-range]="day.isRange">

                <button *ngIf="day.value !== 0" class="date-item" (click)="selectDay(day)">{{day.value}}</button>
                <button *ngIf="day.value === 0" class="date-item"></button>
            </div>
        </div>
    </div>

</div>